<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.CurriculumMapper">
    <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.Curriculum">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="cover" property="cover" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="subject" property="subject" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="learning_style" property="learningStyle" jdbcType="VARCHAR"/>
        <result column="class_hours" property="classHours" jdbcType="VARCHAR"/>
        <result column="collection_num" property="collectionNum" jdbcType="INTEGER"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="enclosure" property="enclosure" jdbcType="VARCHAR"/>
        <result column="enc_des" property="encDes" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="unique_num" property="uniqueNum" jdbcType="VARCHAR"/>
        <result column="teacher_id" property="teacherId" jdbcType="INTEGER"/>
        <result column="is_public" property="isPublic" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.hklk.oplatform.entity.table.Curriculum" extends="BaseResultMap">
        <result column="des" property="des" jdbcType="LONGVARBINARY"/>
        <result column="wxdes" property="wxdes" jdbcType="LONGVARBINARY"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, cover, name, subject, grade, learning_style , class_hours , collection_num , author,
    enclosure, enc_des , status,unique_num
    </sql>
    <sql id="Blob_Column_List">
    des,wxdes
    </sql>
    <select id="selectByPrimaryKey" resultType="map" parameterType="java.lang.Integer">
        select
        cc.id, cc.cover, cc.name, cc.subject, cc.grade, cc.learning_style learningStyle, cc.class_hours classHours, cc.collection_num collectionNum, cc.author,
        cc.enclosure, cc.enc_des encDes, cc.status, cc.unique_num uniqueNum, cc.des,cc.wxdes, IFNULL(SUM(cu.num*cu.unit_price),0) as totalPrice
        from hklk_curriculum cc left join hklk_consumables cu on cc.id = cu.curriculum_id
        where cc.id = #{id,jdbcType=INTEGER} group by cc.id
    </select>


    <select id="selectIdByUniqueNum" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from hklk_curriculum
        where  unique_num = #{unique_num,jdbcType=VARCHAR}
    </select>

    <select id="queryCurriculums" resultMap="BaseResultVoMap"
            parameterType="com.hklk.oplatform.entity.table.Curriculum">
        select * from (select
        t.id, t.cover, t.name, t.subject, t.grade, t.learning_style, t.class_hours, t.collection_num, t.author,
        t.enc_des, t.status,t.teacher_id
        ,(CASE count(c.id) WHEN 0 THEN 'false' ELSE 'true' END) as ishc
        from hklk_curriculum t LEFT join hklk_consumables c on t.id=c.curriculum_id
        where 1=1
        <if test="teacherId!=null">
             (is_public = 1 or teacher_id in
            (select id from hklk_school_teacher st where st.school_id = #{teacherId}))
        </if>
        <if test="isPublic!=null">
          and is_public = 1
        </if>
        GROUP BY t.id ) cc
        where status=1
        <if test="name != null">
            and cc.name like CONCAT('%', #{name}, '%')
        </if>
        <if test="grade != null">
            and cc.grade like CONCAT('%', #{grade}, '%')
        </if>
        <if test="learningStyle != null">
            and cc.learning_style like CONCAT('%', #{learningStyle}, '%')
        </if>
        <if test="subject != null">
            and cc.subject like CONCAT('%', #{subject}, '%')
        </if>

        order by id desc
    </select>

    <select id="queryCurriculumsForTeacher" resultType="map"
            parameterType="com.hklk.oplatform.entity.table.Curriculum">
        select id,cover,name,subject,grade,learning_style as learningStyle,class_hours as classHours,
        collection_num as collectionNum , author,enc_des as encDes, status,is_public as isPublic,
        teacher_id as teacherId,ishc,enclosure
        from (select
        t.id, t.cover, t.name, t.subject, t.grade, t.learning_style, t.class_hours, t.collection_num, t.author,
        t.enc_des, t.status,t.is_public,t.teacher_id
        ,(CASE count(c.id) WHEN 0 THEN 'false' ELSE 'true' END) as ishc,t.enclosure
        from hklk_curriculum t LEFT join hklk_consumables c on t.id=c.curriculum_id GROUP BY t.id ) cc
        where status=1
        <if test="name != null">
            and cc.name like CONCAT('%', #{name}, '%')
        </if>
        <if test="grade != null">
            and cc.grade like CONCAT('%', #{grade}, '%')
        </if>
        <if test="learningStyle != null">
            and cc.learning_style like CONCAT('%', #{learningStyle}, '%')
        </if>
        <if test="subject != null">
            and cc.subject like CONCAT('%', #{subject}, '%')
        </if>
        <choose>
            <when test="teacherId!=null">
                and cc.teacher_id = #{teacherId}
            </when>
            <otherwise>
                and is_public = 1
            </otherwise>
        </choose>
        order by id desc
    </select>

    <select id="selectCurriculumByTeacher" resultType="map" parameterType="java.lang.Integer">
        select
        cc.id, cc.cover, cc.name, cc.subject, cc.grade, cc.learning_style learningStyle, cc.class_hours classHours, cc.collection_num collectionNum, cc.author,
        cc.enclosure, cc.enc_des encDes, cc.status, cc.unique_num uniqueNum, cc.des,cc.wxdes, IFNULL(SUM(cu.num*cu.unit_price),0) as totalPrice,cc.twxdes1,cc.twxdes2
        from hklk_curriculum cc left join hklk_consumables cu on cc.id = cu.curriculum_id
        where cc.id = #{id,jdbcType=INTEGER} group by cc.id
    </select>


    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from hklk_curriculum
        where id = #{id,jdbcType=INTEGER}
        <if test="teacherId != null">
            and teacher_id = #{teacherId}
        </if>
    </delete>
    <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.CurriculumInsertVo">
        insert into hklk_curriculum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="subject != null">
                subject,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="learningStyle != null">
                learning_style,
            </if>
            <if test="classHours != null">
                class_hours,
            </if>
            <if test="collectionNum != null">
                collection_num,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="enclosure != null">
                enclosure,
            </if>
            <if test="encDes != null">
                enc_des,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="des != null">
                des,
            </if>
            <if test="uniqueNum != null">
                unique_num,
            </if>
            <if test="wxdes != null">
                wxdes,
            </if>
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="isPublic != null">
                is_public,
            </if>
            <if test="twxdes1 != null">
                twxdes1,
            </if>
            <if test="twxdes2 != null">
                twxdes2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                #{subject,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=VARCHAR},
            </if>
            <if test="learningStyle != null">
                #{learningStyle,jdbcType=VARCHAR},
            </if>
            <if test="classHours != null">
                #{classHours,jdbcType=VARCHAR},
            </if>
            <if test="collectionNum != null">
                #{collectionNum,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="enclosure != null">
                #{enclosure,jdbcType=VARCHAR},
            </if>
            <if test="encDes != null">
                #{encDes,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="des != null">
                #{des,jdbcType=LONGVARCHAR},
            </if>
            <if test="uniqueNum != null">
                #{uniqueNum,jdbcType=VARCHAR},
            </if>
            <if test="wxdes != null">
                #{wxdes,jdbcType=LONGVARCHAR},
            </if>
            <if test="teacherId != null">
                #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="isPublic != null">
                #{isPublic,jdbcType=INTEGER},
            </if>
            <if test="twxdes1 != null">
                #{twxdes1,jdbcType=INTEGER},
            </if>
            <if test="twxdes2 != null">
                #{twxdes2,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.Curriculum">
        update hklk_curriculum
        <set>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                subject = #{subject,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=VARCHAR},
            </if>
            <if test="learningStyle != null">
                learning_style = #{learningStyle,jdbcType=VARCHAR},
            </if>
            <if test="classHours != null">
                class_hours = #{classHours,jdbcType=VARCHAR},
            </if>
            <if test="collectionNum != null">
                collection_num = #{collectionNum,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="enclosure != null">
                enclosure = #{enclosure,jdbcType=VARCHAR},
            </if>
            <if test="encDes != null">
                enc_des = #{encDes,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="des != null">
                des = #{des,jdbcType=LONGVARCHAR},
            </if>
            <if test="wxdes != null">
                wxdes = #{wxdes,jdbcType=LONGVARCHAR},
            </if>
            <if test="twxdes1 != null">
                twxdes1 = #{twxdes1,jdbcType=VARCHAR},
            </if>
            <if test="twxdes2 != null">
                twxdes2 = #{twxdes2,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <resultMap id="BaseResultVoMap" type="com.hklk.oplatform.entity.vo.CurriculumForListVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="cover" property="cover" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="subject" property="subject" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="learning_style" property="learningStyle" jdbcType="VARCHAR"/>
        <result column="class_hours" property="classHours" jdbcType="VARCHAR"/>
        <result column="collection_num" property="collectionNum" jdbcType="INTEGER"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="enc_des" property="encDes" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="ishc" property="ishc"/>
    </resultMap>
</mapper>