<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.FeedBackMapper">
    <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.FeedBack">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="for_table" property="forTable" jdbcType="VARCHAR"/>
        <result column="feedback_user" property="feedbackUser" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, category, content, for_table, feedback_user, create_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hklk_feedback
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hklk_feedback
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hklk.oplatform.entity.table.FeedBack">
    insert into hklk_feedback (id, category, content, 
      for_table, feedback_user, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{category,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{forTable,jdbcType=VARCHAR}, #{feedbackUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.FeedBack">
        insert into hklk_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="forTable != null">
                for_table,
            </if>
            <if test="feedbackUser != null">
                feedback_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                #{category,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="forTable != null">
                #{forTable,jdbcType=VARCHAR},
            </if>
            <if test="feedbackUser != null">
                #{feedbackUser,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.FeedBack">
        update hklk_feedback
        <set>
            <if test="category != null">
                category = #{category,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="forTable != null">
                for_table = #{forTable,jdbcType=VARCHAR},
            </if>
            <if test="feedbackUser != null">
                feedback_user = #{feedbackUser,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hklk.oplatform.entity.table.FeedBack">
    update hklk_feedback
    set category = #{category,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      for_table = #{forTable,jdbcType=VARCHAR},
      feedback_user = #{feedbackUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="queryFeedBackList" resultType="map">
        select
        id, category, content, for_table as tableName, create_time as createTime
        from hklk_feedback
    </select>

    <select id="selectFeedBack" resultType="map" parameterType="map">
        select
        t.nickname
        <if test='tableName == "hklk_school_admin"'>
            ,'学校管理' as birth ,account as phone
        </if>
        <if test='tableName == "hklk_school_student"'>
            ,'家长' as birth ,parent_phone as phone
        </if>
        <if test='tableName == "hklk_school_teacher"'>
            ,'老师' as birth ,phone
        </if>
        from hklk_feedback f left join ${tableName} t on f.feedback_user = t.id where f.id = #{id}
    </select>

</mapper>