<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.SchoolMapper">
    <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.School">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="school_num" property="schoolNum" jdbcType="VARCHAR"/>
        <result column="school_logo" property="schoolLogo" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
        id, name, create_time, remarks, status,school_num,school_logo
    </sql>
    <select id="selectByPrimaryKey" resultType="map" parameterType="java.lang.Integer">
        select
        s.id, s.name, s.create_time as createTime, s.remarks, s.status,s.school_num as schoolNum,s.school_logo schoolLogo,h.channel_id channelId
        from hklk_school s left join hklk_channel_school h on s.id = h.school_id
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectSchoolBySign" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from hklk_school
        where sign = #{sign,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from hklk_school
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hklk.oplatform.entity.table.School">
        insert into hklk_school (id, name, create_time,
          remarks, status,school_num,school_logo)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
          #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{schoolNum,jdbcType=VARCHAR}, #{schoolLogo,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.School">
        insert into hklk_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="schoolNum != null">
                school_num,
            </if>
            <if test="schoolLogo != null">
                school_logo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="schoolNum != null">
                #{schoolNum,jdbcType=VARCHAR},
            </if>
            <if test="schoolLogo != null">
                #{schoolLogo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.School">
        update hklk_school
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="schoolNum != null">
                school_num = #{schoolNum,jdbcType=VARCHAR},
            </if>
            <if test="schoolLogo != null">
                school_logo = #{schoolLogo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hklk.oplatform.entity.table.School">
        update hklk_school
        set create_time = #{createTime,jdbcType=TIMESTAMP},
          name = #{name,jdbcType=VARCHAR},
          remarks = #{remarks,jdbcType=VARCHAR},
          status = #{status,jdbcType=INTEGER},
          school_num = #{schoolNum,jdbcType=VARCHAR},
          school_logo = #{schoolLogo,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
  </update>


    <resultMap id="SchoolVoMap" type="com.hklk.oplatform.entity.vo.SchoolVo">

        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="school_num" property="schoolNum" jdbcType="VARCHAR"/>
        <result column="school_logo" property="schoolLogo" jdbcType="VARCHAR"/>
        <collection property="list" ofType="SchoolAdmin" notNullColumn="a_id">
            <id column="a_id" property="id" jdbcType="INTEGER"/>
            <result column="a_school_id" property="schoolId" jdbcType="INTEGER"/>
            <result column="a_nickname" property="nickname" jdbcType="VARCHAR"/>
            <result column="a_remarks" property="remarks" jdbcType="VARCHAR"/>
            <result column="a_status" property="status" jdbcType="INTEGER"/>
            <result column="a_account" property="account" jdbcType="VARCHAR"/>
            <result column="a_pwd" property="pwd" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="querySchools" resultMap="SchoolVoMap" parameterType="java.lang.String">
        select
        s.id, s.name, s.create_time, s.remarks, s.status,s.school_num,s.school_logo,
        h.id as a_id,
        h.school_id as a_school_id,
        h.nickname as a_nickname,
        h.remarks as a_remarks,
        h.status as a_status,
        h.account as a_account,
        h.pwd as a_pwd
        from hklk_school s left join hklk_school_admin h on s.id = h.school_id where s.status >=0
        <if test="_parameter  != null and _parameter != ''">
            and (s.name like CONCAT('%', #{param}, '%') or s.school_num like CONCAT('%', #{param}, '%'))
        </if>
        order by id desc
    </select>

    <select id="selectSchoolByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from hklk_school where name = #{name,jdbcType=VARCHAR}
    </select>
</mapper>