<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.TeacherMessageMapper" >
  <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.TeacherMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="is_read" property="isRead" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, message, send_time, teacher_id, is_read
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hklk_school_teacher_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hklk_school_teacher_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hklk.oplatform.entity.table.TeacherMessage" >
    insert into hklk_school_teacher_message (id, message, send_time, 
      teacher_id, is_read)
    values (#{id,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP},
      #{teacherId,jdbcType=INTEGER}, #{isRead,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.TeacherMessage" >
    insert into hklk_school_teacher_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateIsReadById" parameterType="java.lang.Integer" >
    update hklk_school_teacher_message
    set is_read = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateIsReadByTeacherId" parameterType="java.lang.Integer" >
    update hklk_school_teacher_message
    set is_read = 1
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>


  <select id="queryTeacherMessage" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from hklk_school_teacher_message
    where teacher_id = #{teacherId,jdbcType=INTEGER}
    <if test="isRead !=null">
      and is_read = #{isRead,jdbcType=INTEGER}
    </if>
    order by id desc
  </select>
</mapper>